<div class="h-100">
  <app-toolbar
    title="Create Software Arch."
    [color]="'accent'"
    [_name]="this.designName"
    (nameChanged)="onNameChanged($event)"
  ></app-toolbar>
  <div class="page-grid">
    <nav class="nav">
      <app-modeler
        [_selectionElements]="this.selectionElements"
        [_selectionConnections]="this.selectionConnections"
        (addNewElement)="onAddNewElement()"
        (editElement)="onEditElement()"
        (deleteElements)="onDeleteElements()"
        (connectTwoElements)="onConnectTwoElements($event)"
        (deleteConnections)="onDeleteConnections($event)"
        (deleteDesign)="onDeleteDesign()"
        (saveDesign)="onSaveDesign()"
        [_connections]="this.allConnections"
        [_elements]="this.allElements"
        color='accent'
      ></app-modeler>
    </nav>
    <section class="content">
      <div #rootDesign id="box-cont" (click)="onClickRootDesign($event)">
        <svg id="_svg"></svg>
        <div class="loading-spiner" *ngIf="this.loading">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </div>

      <div class="console">
        <app-console></app-console>
      </div>
    </section>
    <nav class="sug">
      <app-suggestions
        [_raDesign]="$any(this.parentRADesign)"
        [_saDesign]="this.getSADesign()"
      ></app-suggestions>
    </nav>
    <div matTooltip="Select a Reference Architecture" class="fab-btn">
      <button (click)="onSelectRA()" mat-fab color="accent">
        <mat-icon>cloud_download</mat-icon>
      </button>
    </div>
  </div>
</div>
