.mat-h2 {
  margin-bottom: 0px;
  font-size: 18px;
}

hr {
  margin-block-start: 8px;
  margin-block-end: 8px;
}
.sugg-cont {
  max-height: 82vh;
  overflow: auto;
  height: 100%;
}

.item {
  padding: 8px;
  border-radius: 16px;
  margin: 4px 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  animation: fade-in-up .5s ease;
  animation-fill-mode: forwards;
  opacity: 0;

  &:hover {
    // background-color: #fafafa;
    filter: brightness(0.85);
  }
  .msg::ng-deep {
    font-size: 13px;
    strong {
      font-weight: 500 !important;
    }
  }
  &.error {
    background-color: #ffcdd2;
    border-color: #f44336;
  }
  &.warning {
    background-color: #fffde7;
    border-color: #ffeb3b;
  }
  .action {
    position: absolute;
    bottom: 0px;
    right: 4px;
    opacity: 0.9;
  }
}

.item:nth-of-type(1) {
  animation-delay: .1s;
}

.item:nth-of-type(2) {
  animation-delay: .2s;
}
.item:nth-of-type(3) {
  animation-delay: .3s;
}
.item:nth-of-type(4) {
  animation-delay: .4s;
}

.item:nth-of-type(5) {
  animation-delay: .5s;
}

.item:nth-of-type(6) {
  animation-delay: .6s;
}

.item:nth-of-type(7) {
  animation-delay: .7s;
}

.item:nth-of-type(8) {
  animation-delay: .8s;
}
