<h2 class="mat-h2">Components</h2>
<hr>
<div fxLayout="column" fxLayoutAlign="start stretch">
  <button
    (click)="this.addNewElement.next($event)"
    mat-raised-button
    [color]="this.color"
  >
    <mat-icon>add</mat-icon>
    New Element
  </button>
  <br />
  <button
    (click)="this.editElement.next($event)"
    mat-raised-button
    [color]="this.color"
    [disabled]="this.selectionElements.size != 1"
  >
    <mat-icon>edit</mat-icon>
    Edit Element
  </button>
  <br />
  <button
    (click)="onConnect()"
    mat-raised-button
    [disabled]="this.selectionElements.size != 2"
    color="accent"
  >
    <mat-icon>link</mat-icon>
    Conn. Elements
  </button>
  <br />
  <button
    (click)="this.deleteElements.next($event)"
    mat-raised-button
    [disabled]="!this.selectionElements.size"
    color="warn"
  >
    <mat-icon>delete</mat-icon>
    Del Elements
  </button>
  <br />
  <h2 class="mat-h2">Connections</h2>
  <button
    (click)="onDeleteConnections()"
    mat-raised-button
    [disabled]="!this.selectionConnections.size"
    color="warn"
  >
    <mat-icon>delete</mat-icon>
    Del Connections
  </button>

  <button
    (click)="this.deleteDesign.next(true)"
    class="save"
    mat-raised-button
    style="bottom: 80px"
    [disabled]="!this.allConnections.length && !this.allElements.length"
  >
    <mat-icon>cleaning_services</mat-icon>
    clean design
  </button>

  <button
    [disabled]="!this.allConnections.length && !this.allElements.length"
    (click)="this.saveDesign.next(true)"
    class="save"
    mat-raised-button
  >
    <mat-icon>save</mat-icon>
    save design
  </button>
</div>
