.mat-h2{
  margin-bottom: 0px;
  font-size: 18px;
}
hr{
  margin-block-start: 8px;
  margin-block-end: 8px;
}
button {
  text-transform: uppercase;
}
.save {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%) !important;
  width: 80%;
}
