<h2 mat-dialog-title>Create New Element</h2>
<mat-dialog-content
  *ngIf="this.formElement"
  fxLayout="column"
  fxLayoutAlign="start stretchs"
  style="gap: 1rem"
>
  <mat-form-field appearance="fill">
    <mat-label>Element's name</mat-label>
    <input
      matInput
      required
      placeholder="Select the name"
      [formControl]="$any(this.formElement).get('name')"
    />
    <mat-error *ngIf="$any(this.formElement).get('name').hasError('required')"
      >Invalid</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Fill color</mat-label>
    <input
      type="color"
      matInput
      placeholder="Select the fill color"
      [formControl]="$any(this.formElement).get('fill')"
    />
    <mat-error *ngIf="$any(this.formElement).get('fill').hasError('required')"
      >Invalid</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Font color</mat-label>
    <input
      type="color"
      matInput
      placeholder="Select the font color"
      [formControl]="$any(this.formElement).get('color')"
    />
    <mat-error *ngIf="$any(this.formElement).get('color').hasError('required')"
      >Invalid</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Unique Label </mat-label>
    <input
      type="text"
      matInput
      placeholder="Select the Unique Label "
      [formControl]="$any(this.formElement).get('type')"
      (input)="onChangeType($event)"
    />
    <mat-error *ngIf="$any(this.formElement).get('type').hasError('required')"
      >Invalid</mat-error
    >
    <mat-error
      *ngIf="$any(this.formElement).get('type').hasError('uniqueLabel')"
      >This field should be unique</mat-error
    >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [disabled]="$any(this.formElement).invalid"
    (click)="onSave()"
  >
    Save
  </button>
</mat-dialog-actions>
