<div class="h-100">
  <app-toolbar
    [_name]="this.designName"
    (nameChanged)="onNameChanged($event)"
  ></app-toolbar>
  <div class="page-grid">
    <nav class="nav">
      <app-modeler [_selectionElements]="this.selectionElements"
      [_selectionConnections]="this.selectionConnections"
      (addNewElement)="onAddNewElement()"
      (editElement)="onEditElement()"
      (deleteElements)="onDeleteElements()"
      (connectTwoElements)="onConnectTwoElements($event)"
      (deleteConnections)="onDeleteConnections($event)"
      (saveDesign)="onSaveDesign()"
      ></app-modeler>
    </nav>
    <section class="content">
      <div #rootDesign id="box-cont" (click)="onClickRootDesign($event)">
        <svg id="_svg"></svg>
      </div>
      <div class="console"></div>
    </section>
    <nav class="sug"></nav>
  </div>
</div>
