<div class="h-100">
  <app-toolbar
    title="Create a Reference Arch."
    [_name]="this.designName"
    (nameChanged)="onNameChanged($event)"
  ></app-toolbar>
  <div class="page-grid">
    <nav class="nav">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon style="margin-right: 4px">settings</mat-icon>
            General
          </ng-template>
          <app-modeler
            [_selectionElements]="this.selectionElements"
            [_selectionConnections]="this.selectionConnections"
            (addNewElement)="onAddNewElement()"
            (editElement)="onEditElement()"
            (deleteElements)="onDeleteElements()"
            (connectTwoElements)="onConnectTwoElements($event)"
            (deleteConnections)="onDeleteConnections($event)"
            (deleteDesign)="onDeleteDesign()"
            (saveDesign)="onSaveDesign()"
            [_connections]="this.allConnections"
            [_elements]="this.allElements"
          ></app-modeler>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon style="margin-right: 4px">build</mat-icon>
            Component
          </ng-template>
          <app-setting-element ($componentChanged)="onComponentChanged($event)" [_component]="getSelectedComponent()"></app-setting-element>
        </mat-tab>
      </mat-tab-group>
    </nav>
    <section class="content">
      <div #rootDesign id="box-cont" (click)="onClickRootDesign($event)">
        <svg id="_svg"></svg>
        <div class="loading-spiner" *ngIf="this.loading">
          <mat-spinner></mat-spinner>
        </div>
        <button
          matTooltip="Edit description"
          id="show-description-btn"
          mat-icon-button
          (click)="onShowDescription()"
        >
          <mat-icon>info</mat-icon>
        </button>
        <button
          matTooltip="Print the design"
          id="print-btn"
          mat-icon-button
          (click)="onPrint($event)"
        >
          <mat-icon>print</mat-icon>
        </button>
        <button
          matTooltip="Open full screen"
          id="open-full-screen-btn"
          mat-icon-button
          (click)="onOpenFullScreen()"
        >
          <mat-icon *ngIf="fullScreenMode">close_fullscreen</mat-icon>
          <mat-icon *ngIf="!fullScreenMode">open_in_full</mat-icon>
        </button>
        <span id="name-design">
          {{ this.designName }}
        </span>
      </div>

      <div class="console">
        <app-console></app-console>
      </div>
    </section>
    <nav class="sug">
      <app-suggestions
        [raDesign]=""
        [saDesign]=""
        [enabled]="false"
      ></app-suggestions>
    </nav>
  </div>
</div>
