/* You can add global styles to this file, and also import other style files */
@import "./scss/theme.scss";
@import "./library/element.scss";

html,
body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1080px;
  padding: 0px 16px;
  margin: 0px auto;
  box-sizing: border-box;
  width: 100%;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.bg-gray {
  background-color: #eee;
}
.p-3 {
  padding: 8px !important;
}

.page-grid {
  display: grid;
  grid-template-columns: 275px 1fr 275px;
  height: calc(100% - 64px - 16px);
  gap: 16px;
  .nav {
    height: 100%;
    background-color: #eee;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    border-radius: 8px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .sug {
    height: 100%;
    background-color: #eee;
    padding: 16px;
    border-radius: 8px;
  }

  .console {
    // margin-top: 16px;
    background-color: #eee;
    width: 100%;
    flex: 0 1 25%;
    max-height: 275px;
    border-radius: 8px;
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: 200px 1fr 200px;
  }
}

#box-cont {
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: relative;
  overflow: auto;
  flex: 1;
  background-image: url("/assets/images/grid-blue.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.mat-option-text {
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem;
}

.loading-spiner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 40;
  display: grid;
  place-items: center;
}

.link {
  text-align: center;
  color: #03a9f4;
  font-size: 16px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

//////////////////////ANIMATIONS//////////////////////////////
@keyframes fade-in-up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  75% {
    transform: translateY(-10%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.hidden-vis {
  visibility: hidden;
}
