@use "@angular/material" as mat;
@include mat.core();

$primary: mat.define-palette(mat.$orange-palette, 600);
$accent: mat.define-palette(mat.$blue-palette, 600);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    ),
  )
);

@include mat.core-theme($theme);
@include mat.all-component-themes($theme);
